<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Docs</h1>
        </header>
        <main>
            <section class="module-list">
                <h2>Modules</h2>
                <ul>
{{modules_list}}
                </ul>
            </section>
        </main>
    </div>
</body>
</html>
